body {
    font-family: 'JetBrains Mono', monospace;
    margin: 0;
    background: #2C2B3D;
}


.page {
    
    margin: 71px 99px 0;  
    
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;    
    
    margin-bottom: 55px;
}




ul {
    display: flex;
    list-style: none;
    margin: 0;
    padding: 0;
    gap: 48px;
}

ul li a {
    
    font-size: 14px;
    line-height: 28px; 
}

ul li a:hover {
    color: gray;
    transition: 0.5s;
}



a {
    text-decoration: none;
    color: #FFFFFF;        
}


main {
    display: flex;
    justify-content: space-between;
    margin-top: 100px;
    align-items: center;
    margin-bottom: 224px;
}


h1 {
    font-style: normal;
    font-weight: 700;
    text-align: center;

    line-height: 40px;
    font-size: 36px;
    color: #FFFFFF;
}




h1 span {
    color: #00BFA6;

}


p {
    color: #C2C2C2;
    font-size: 16px;
    line-height: 28px;

    
    height: 100px;
    width: 604px;
    top: 314px;
    left: 582px;

    text-align: center;
    font-weight: 400;
    font-family: 'Open Sans', sans-serif; 

    border-radius: 0px;
    font-style: normal;

    padding-bottom: 50px;
}

p strong {
    font-weight: 700;
}



p span {
    color: #00BFA6;
    font-weight: 700;
}

.line {
    width: 568px;
    height: 0;
    border: 1px solid #00BFA6;
    margin: 0 auto 24px;
}


footer {
    text-align: center;
    
    font-size: 14px;
    
    line-height: 28px;
    color: #FFFFFF;
}


#padlock {
    position: absolute;
    bottom: 20px;
    left: 20px;

    width: 51px;
    height: 62px;
}
